[2017-10-03 10:21] LeonStaufer opened #1 "Footer not at bottom"
When the content does not fill the entire viewport, the footer is above the bottom

[2017-10-17 02:01] GJRobert opened #2 "Search box redirects to hard coded /dokuwiki/doku.php"
Hi there,

This template is elegant and yet feature rich, I love it! Thank you so much for releasing!

Here is what I have seen using the search box (after typing the keyword and hitting Enter):
[code]
I had renamed my DokuWiki folder to simply "/dw" since I started to use DokuWiki, so I guess this is why the template does not find doku.php in /dokuwiki.

[2017-10-17 18:45] GJRobert opened #3 "Hiding redundant h1 in div.content-card__text"
Hi Leon,

I see you have designed a `div.content-card__title` which looks nice. Also as you mentioned in Line 129~135 that
[code]
, while the title maybe trimmed with future implementations, right now I'm using a line in my userall.css to hide that h1 in `div.content-card__text`:
[code]
- I think that on pages with 404 status, the heading should be kept since `div.content-card__title` only contain

[2017-10-30 17:44] LeonStaufer commented on #3
Hi Robert,
Thanks for your suggestions.
I will take a closer look at this when I have the time to get back to this project.

If you wish, you can contribute to this template as well.

I'm glad you enjoyed it.

Greetings,
Leon

[2017-10-30 17:46] LeonStaufer commented on #2
Hello,

Thank you for pointing this out. I did hardcode the URL (not a very good practice at all, unfortunately) and didn't consider the implications for people who have renamed the folder. I will try and find a more elegant solution to this.

Greetings,
Leon

[2017-11-10 19:50] LeonStaufer commented on #2
The latest update should have fixed this issue. Please let me know if you encounter any other problems.

Enjoy :)

[2017-11-10 19:50] #2 closed, assigned to nobody

[2017-11-12 18:22] GJRobert commented on #2
Hi Leon,

Thank you so much for fixing this! Great news!

Ciao!

[2018-01-02 14:21] LeonStaufer commented on #3
Hello Robert,

I know this is a while back by now, but I have only now examined this problem closely.

I gathered that you want to hide the first title of a page because it is redundant when `useheading` is activated.

I encountered a similar problem with my website, and I found the [Pagetitle plugin](https://www.dokuwiki.org/plugin:pagetitle) to be the perfect solution. You can set the title of a

[2018-01-02 14:22] #3 closed, assigned to LeonStaufer

[2018-01-20 13:43] poVoq opened #6 "How to add additional right side buttons?"
First off: very nice theme, thanks for creating!

I would like to use plugins like the comments, the .odt export and the .pdf export plugins with this theme that are usually accessible through these floating buttons on the right side. However this theme only provides the edit and revisions button.

Any way to add new buttons for plugins or include some additional buttons for popular Dokuwiki plugi

[2018-01-20 13:49] poVoq opened #7 "Respect Dokuwiki sidebar setting"
In Dokuwiki under basic settings there is the option to switch or disable the sidebar:
`Sidebar page name (if template supports it), empty field disables the sidebar`

I tried disabling the sidebar through it, but it doesn't seem to have an effect.

Somewhat related: is it possible to easily have different sidebars for different wiki animals (farmer plugin)?

[2018-01-20 13:55] poVoq opened #8 "Support translations plugin?"
The translations plugin seems to be more or less a core feature of Dokuwiki, but currently the top side button to switch languages is not supported by this theme I think. Would be great if that could also be added.

Thanks!

[2018-01-20 14:04] poVoq opened #9 "Log out option?"
Seems like there is no option for a user to log out? Or is it very hidden?

I guess the user button should give a drop-down like other themes do it?

[2018-01-22 10:51] rjahn opened #10 "Smartphone Search"
Search field is too wide on mobile devices - Portrait mode. Works in landscape mode.

[2018-01-22 10:53] rjahn opened #11 "MediaManager Tree items wrong formatted"
The Media Manager shows a tree, but the items are "multi-line". The icon is in line 1 and the text is in line 2.

The text should be beside the +/- icon.

[2018-01-22 13:11] rjahn opened #12 "Logout missing"
Logout is not supported or not visible?

[2018-01-23 10:48] rjahn commented on #9
We changed our the main.php to solve the problem:

    <?php
    if ($INFO['userinfo'] != null)
    {
      tpl_action('login', true, false, false, '', '', "
        <button class=\"mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect mdl-button--colored\">
          <i class=\"material-icons\">exit_to_app</i>
        </button>");
    }
    ?>

simply add this code after the other tpl_ac

[2018-01-23 10:48] #12 closed, assigned to nobody

[2018-01-23 11:01] rjahn commented on #11
fixed with following styles in basic.less:

    #mediamanager__page li div.li {
      display: initial;
      padding-left: 7px;
    }

    #mediamanager__page ul.thumbs li dt {
      padding-bottom: 18px;
    }

    #mediamanager__page ul.thumbs li dd {
      margin-left: 0;
    }

[2018-01-23 15:21] glitchroy opened #13 "No new page button for searched articles"
When you try to directly add a new article that doesn't exist (`/wiki/blabla`), the template offers the option to add the article (the plus button with `/wiki/blablabla?do=edit` to the right).
If you search for an article (page ``/wiki/doku.php?do=search&id=Blabla``) however, no button control to the right is present.
It would be nice to be able to add a new article without having to edit the url

[2018-01-27 17:25] LeonStaufer commented on #10
Thanks for the feedback.

What do you mean by too wide? What would be your preferred width?

For me it looks like this on mobile devices:
![screenshot of search bar on mobile](https://s9.postimg.org/vrx9kpktb/searchonmobile.png)

I purposely designed it, so that when you click the search icon, it expands to fill 80% of the screen.

[2018-01-27 17:28] LeonStaufer commented on #7
Thanks for the feedback. That is a very good point.
I will try and fix this issue with the next update.

Unfortunately, due to time constraints, I probably won't be able to support the farmer plugin. If you wish, you can make a pull request and contribute though :)

[2018-01-27 17:35] LeonStaufer commented on #6
I definitely agree that having only two main buttons limits the functionality currently.

If you need to quickly add support for other plugins you can _easily_ add another button. All you need to do is add the following code to the `main.php` file after line 119:

[code]

Make sure to replace `action` with your desired action and `icon` with a material icon of your choice.

Adding native support t

[2018-01-27 17:37] LeonStaufer commented on #8
I completely agree. This is a core functionality of DokuWiki and should be accessible in the template.
I'll try and work on adding this as soon as I can, but in the meantime, feel free to contribute if you wish.

[2018-01-27 17:47] LeonStaufer commented on #13
Thanks for the feedback.

I agree that there should be the option to create a page from search and I'll work on adding that to the next update.

For now, you can click on the name of your query which will bring you to its page. From there you can create it as normal.

![Screenshot of search page](https://s9.postimg.org/ptjgaboy7/search.png)

[2018-01-27 17:50] LeonStaufer commented on #11
Thanks for the feedback.

I feel that the media manager is in need of a visual overhaul anyway, so this is a great addition to that.
If you have any suggestions on how you think it should look, please contribute :)

[2018-01-27 17:51] LeonStaufer commented on #1
will be fixed with next update :)

[2018-01-27 17:51] #1 closed, assigned to LeonStaufer

[2018-01-29 13:27] rjahn commented on #11
The whole mediamanager is horrible. If you add lots of images, the empty space grows and the page is too heigh.

The media info page for e.g. image links is also horrible because the template doesn't work. Same problem for media upload.

Currently, I didn't check the source code, so a contribution isn't possible :)

[2018-01-29 13:36] rjahn commented on #10
It looks like this one:

<img width="375" alt="material_sh" src="https://user-images.githubusercontent.com/1307043/35512957-b8f4ed38-0501-11e8-86fb-541558497a94.png">

[2018-01-29 18:16] LeonStaufer commented on #10
Huh, that is definitely a bug and shouldn't happen. Thanks for letting me know.

Does the issue occur on all mobile devices or just some? Could you please let me know which device it is, so I examine what might be causing this issue?

[2018-01-29 18:19] LeonStaufer commented on #11
Yea, I'm sorry about that. I originally developed the template for a project of mine for which I didn't require the media manager, so when I put little time into working on it back then.

Now that it is a public template, I have started to refine many aspects, and I am aware that the media manager definitely needs to be improved.

Unfortunately, I currently don't have the time to redesign it, so a

[2018-02-06 18:04] #7 closed, assigned to LeonStaufer

[2018-02-06 18:45] #13 closed, assigned to LeonStaufer

[2018-02-06 18:50] #6 closed, assigned to LeonStaufer

[2018-02-06 18:55] #9 closed, assigned to LeonStaufer

[2018-02-07 13:53] rjahn commented on #10
We fixed this problem in our system: https://doc.sibvisions.com

All "tested" devices (Android, iOS) - not all available devices :)

[2018-02-07 17:49] LeonStaufer commented on #10
Ah okay, so you hide the logo. I suppose that works too.
When researching what the problem might be, I have discovered that it doesn't work in [a couple browsers](https://caniuse.com/#feat=css-focus-within).

I will look for a better way of expanding the search bar in the future.

[2018-02-09 19:59] LeonStaufer opened #15 "Indexmenu support"
Sajid found out that the template currently does not support the indexmenu plugin.

As a future request, support for this plugin could be added.

[2018-02-09 21:08] LeonStaufer commented on #15
As a quick fix, the following can be added to the `sidebar.php` file:

[code]
which will render the *sidebar* wiki page. On this page, simply have the desired indexmenu code.

[2018-02-09 21:10] LeonStaufer commented on #15
The sidebar then looks like the following:

![Screenshot of sidebar](https://s17.postimg.org/i8clbyprj/sidebar.png)

[2018-02-23 07:22] clavicarius opened #16 "php Warning in main.php"
line 105 in main.php gives a warning:
Use of undefined constant php - assumed 'php' (this will throw an Error in a future version of PHP) in
/var/web/public_html/dokuwiki/lib/tpl/material/main.php on line 105

the reason is the comment marker "//" - so the closing "?>" php-bracket will be ignored.

[2018-03-11 16:05] #16 closed, assigned to nobody

[2018-03-11 16:05] LeonStaufer commented on #16
Thank you. I believe this should have fixed it

[2018-03-11 16:06] #15 closed, assigned to nobody

[2018-04-03 14:19] amirix opened #17 "Sidebar configuration"
First thing first - thank you for a great looking template!

We have installed the template from the extension manager and made sure to install the latest version (6/2/18).

As the sidebar is a very important part of the navigation and UX, I am now trying to edit the default sidebar, but cannot find the way to do so. In the GitHub project page I can see the file sidebar.php, but it does not exist

[2018-04-12 23:59] sajidrs commented on #17
I could find the sidebar.php and I downloaded from extension manager. Are you sure you are checking in the correct directory?
I have even successfully managed to edit the sidebar.php.

[2018-04-15 17:59] LeonStaufer commented on #17
Thanks for your feedback. I'll look into it.

I don't understand why there is no `sidebar.php` file in your installation. Does reinstalling the template fix the issue?

Otherwise, you are right, the `main.php` here is newer. I have not pushed these updates yet though, because I did not feel they warranted an entirely new release.

[2018-04-17 09:26] amirix commented on #17
Thanks for taking the time to have a look and comment.
I re-checked and re-installed, the problem is solved and the file is found, I have no idea what went wrong before.
Cheers!

[2018-04-17 10:36] LeonStaufer commented on #17
Okay. I'm glad to hear it works now.
I'll close the issue and enjoy the template!

[2018-04-17 10:36] #17 closed, assigned to nobody

[2018-05-07 18:25] #8 closed, assigned to LeonStaufer

[2018-05-07 18:26] #11 closed, assigned to nobody

[2018-05-12 21:19] MobFactory opened #19 "PDF Export Integration"
I have noticed that this template lacks the automatic support for dw2pdf. Could you please add it?

[2018-06-07 07:05] LeonStaufer commented on #19
Okay, thank you for letting me know. I will add it for the next release.

[2018-06-07 07:10] LeonStaufer commented on #19
More information, for development:
https://www.dokuwiki.org/plugin:dw2pdf:pagetool
https://www.dokuwiki.org/devel:menus
https://www.patreon.com/posts/menus-14160215

[2018-06-25 02:05] takuy opened #20 "Sidebar should use DokuWiki's sidebar config"
This template would be way better if it were able to use Dokuwiki's sidebar config, rather than it's own file.

[2018-07-03 23:01] MobFactory commented on #20
Agreed

[2018-07-03 23:02] MobFactory opened #21 "Tables don't look right."
As you can see in my example http://learnib.org/wiki/doku.php?id=wiki_formatting_guidelines tables look weird and dont have any borders between cells.

[2018-07-17 17:28] LeonStaufer commented on #21
I gladly look into it. However, I could not find a table on the website you shared.

[2018-07-17 17:31] #10 closed, assigned to LeonStaufer

[2018-07-17 17:35] LeonStaufer commented on #20
It took me a while to understand what you mean, but I assume you are referred to the option for the sidebar to be a rendering of the dokuwiki sidebar page as described [here](https://www.dokuwiki.org/config:sidebar).

This template already has this functionality, it was added as a response to issue #15.
You can enable this by changing `$sidebarPage = false;` to `true` in the `sidebar.php` file on

[2018-07-17 17:42] MobFactory commented on #21
It's there, if you look under the heading: Short-cut keys for CKGEDIT (Page Editor). It just doesn't look like a table because something isn't right. Thanks for your help

[2018-07-18 10:12] LeonStaufer commented on #21
Okay thanks. I see what you mean. I assume that `reset.css` removed the table borders and that I haven't added any custom material styling yet.

I'll add it for the next release.

[2018-07-20 11:14] cokipg opened #22 "toolbar dropdown"
Hi,
the dropdown of the editor-toolbar is not working. E.g. if I click on the button for headers or smileys or WRAP-Plugin there is no dropdown.
If I switch to the standard dokuwiki template it is working, so it's not a plugin causing this error.
I also reinstalled the material template, to overwrite my changes... it's still not working.

I found a passage in .../css/fixes.less
`.mdl-layout__conte

[2018-07-20 14:52] MobFactory commented on #21
Thanks

On Wed, Jul 18, 2018 at 12:12 PM Leon Staufer <notifications@github.com>
wrote:

[2018-07-29 10:10] LeonStaufer commented on #22
Thank you for your detailed issue report.

I'm looking into what could be causing this and as soon as I (or anyone else) finds a solution I will push an update.

[2018-07-29 10:11] LeonStaufer commented on #20
As there have been no further replies, I think the issue is resolved.

[2018-07-29 10:11] #20 closed, assigned to nobody

[2018-07-29 10:37] LeonStaufer commented on #22
Okay, the problem was that the dropdown menus were below the content, as you already mentioned.
A quick fix was adding a `z-index` value above that of the content so it can be seen.

I've also styled the buttons slightly so they are more inline with the material design.

For now, you can add the following code to the `fixes.less` file and I will properly incorporate the changes next release.

[cod

[2018-07-29 10:39] #22 closed, assigned to LeonStaufer

[2018-08-01 11:03] herbertvonkaramalz opened #23 "Strange design in the mobile view"
The side menu protrudes about 3 millimeters from the side and looks funny ... how can this be fixed?

[2018-08-03 09:46] LeonStaufer commented on #23
Yea, I do see how it can look funny. It was a purposeful design decision, however, I understand that not everyone may like it, so to change it remove the ``width: 18.5em`` from  ``.mdl-layout__drawer`` in the ``fixes.less``.

[code]

[2018-08-03 09:46] #23 closed, assigned to nobody

[2018-08-04 20:01] #19 closed, assigned to LeonStaufer

[2018-08-04 20:01] #21 closed, assigned to LeonStaufer

[2018-09-10 16:05] ivujosevic opened #25 "After theme was set every wiki page became blank"
I've installed the theme using the Extension Manager and when I enabled the theme my wiki refreshed and now every single page looks like this:
<img width="1440" alt="screen shot 2018-09-10 at 18 01 37" src="https://user-images.githubusercontent.com/17006954/45309309-baf68100-b523-11e8-9e78-1ae27029a636.png">
I can't even revert the changes since I can see the settings page.

[2018-09-15 10:52] LeonStaufer commented on #25
Thank you for your bug report. Unfortunately, I was not able to reproduce the issue.
Are there any error messages or console logs?

[2018-10-04 12:06] #25 closed, assigned to LeonStaufer

[2019-01-08 13:56] AureleCollinet opened #26 "Modify mdl-btn"
Hello,

I wish to add an link and an icon to the

![capture](https://user-images.githubusercontent.com/35695327/50834884-781fab00-1355-11e9-9a4f-a77a751aedad.PNG)

i wish to know of its possible with your template and what do i need to change in the code for it

[2019-01-08 14:06] LeonStaufer commented on #26
Yea that's possible.

If you look at the `main.php` on line 57 you can see how we create the buttons in the header.

Each button is essentially the following:
[code]
To make it a link, just wrap it inside a `<a href="link">` tag. You can specify the type of icon by replacing `icon_name` by any icon name from the [Material Icon set](https://material.io/tools/icons/).

You can add this after line 92

[2019-01-08 15:02] AureleCollinet commented on #26
Thanks a lot

[2019-01-08 15:06] #26 closed, assigned to nobody

[2019-01-28 13:25] AureleCollinet opened #27 "Issue Media manager"
Hello, i got an issue with the media manager, its looking pretty wierd. The media list dont stay in the page container and keeps going in the footer of the page.

[2019-01-28 16:35] LeonStaufer commented on #27
Thanks for your feedback. Could you please post an image of the problem?

[2019-01-29 16:11] AureleCollinet commented on #27
![hugespace](https://user-images.githubusercontent.com/35695327/51922151-c4a45680-23e8-11e9-94af-3b941ddaf8f1.PNG)
here you can see the big blank area i didn't spoke of
![pbmedia1](https://user-images.githubusercontent.com/35695327/51922171-cd952800-23e8-11e9-87bf-c85d1afc1321.PNG)
and here is the "main" problem

[2019-01-29 16:52] LeonStaufer commented on #27
Thank you. I've been able to reproduce the issue, and it's very weird. For some reason, there is a hardcoded height for some panels in the media manager. To fix it, we set `height: auto`.

Adding the following to `css/fixes.less` resolves the problem:
[code]

You can either do this yourself or update the theme with the next release.

[2019-01-29 16:52] #27 closed, assigned to LeonStaufer

[2019-02-17 15:21] sh1989 opened #29 "Page content not displayed as cards"
Using a clean install of DokuWiki Greebo and latest Material template (2019-29-01) with no customisations, on latest Firefox and latest Edge, it appears that the card layout styles are not correctly being applied. Notice there is no margin or borders on page-content. The default image also extends beyond the sidebar. The action buttons to edit and show history do not float to the right.

I can't t

[2019-02-17 15:56] sh1989 commented on #29
I'm going to close this, as the problem wasn't actually the extension or DocuWiki... it was the default settings of my webhost that were fighting against me.

For anyone else who sees this problem, make sure that you ensure the file access permissions are adequately set in your DocuWiki dir (even better, your public_html) folder.  I discovered this by noticing jQuery wasn't loading correctly, and

[2019-02-17 15:56] #29 closed, assigned to nobody

[2019-02-17 18:32] LeonStaufer commented on #29
Thank you for the advice.

[2019-02-20 19:26] LeonStaufer opened #30 "Change indentation of links"
Issue added thanks to feedback from Tin.

Currently, the indentation of the links in the navigation bar are hardcoded and this width might not fit for all use cases. It would be good if it could be edited in the configuration settings.

Until then you can change it by adding the following in `basic.less` to `.mdl-navigation`:
[code]

You can replace `15px` with any width of your liking.

This only

[2019-12-27 21:21] SpencerDub opened #31 "De-emphasize canonical page names"
I really adore this theme. Thanks for your great work on it.

One minor issue I've found is that the theme strongly emphasizes page names by rendering them as top-level headers at the top of the page. This is less than ideal in cases when the limitations of DokuWiki page naming conventions (all lowercase, spaces converted to underscores, etc.) conflict with the intended title of a page. For instan

[2019-12-28 00:58] SpencerDub commented on #31
I hacked around in my browser's DOM editor and made this quick mockup of what this could look like. In this image, "DIY Cleaner Recipes" is a top-level heading defined in the text of the page, whereas "cleaner-recipes" is the canonical page name.

![DokuWiki material deemphasized pagename](https://user-images.githubusercontent.com/4674927/71536890-800b8e80-28c9-11ea-9813-154fa9d209e4.png)

[2019-12-31 10:02] LeonStaufer commented on #31
Thank you for your kind words, I'm glad you are enjoying the theme.

I appreciate your suggestion and was facing a similar problem when I was using DokuWiki. I was able to resolve it nicely by using the [pagetitle plugin](https://www.dokuwiki.org/plugin:pagetitle). With it, you can specify the page title that is supplied by DokuWiki during rendering. Another alternative would be to use the [meta p

[2019-12-31 23:44] SpencerDub commented on #31
Thanks for the tips, Leon. I installed the pagetitle plugin like you suggested, but whether I define the title using the `<title>Foobar</title>` or `~~Title: Foobar~~` syntax, the theme still displays the canonical pagename prominently at the top of the page content. (Within the browser viewport, I mean--I'm not referring to the title in the browser's titlebar.) Do you mind sharing how you use the

[2020-01-02 12:48] LeonStaufer commented on #31
If I recall correctly, you can choose which title to display with the `useheading` property in the DokuWiki configuration. With that enabled it should use the first heading of the document as the title.
Please let me know if that works.

Also thank you for your work on #32, don't worry if the CSS is hacky, mine is too :)

[2020-04-01 17:56] tools400 opened #33 "Action unknown: menuitem"
Hi Leon,

I just gave your "Material" theme a try and in fact I loved it right from the beginning. Sadly there is a problem with the ["Move Plugin"](https://www.dokuwiki.org/plugin:move) which I find is very useful, too.

Whenever I click the "Move" option on whatever page I get the "Action unknown: menuitem" and the menu item vanishes until the page is reloaded.

Do you have an idea how to fix th

[2020-04-02 15:07] LeonStaufer commented on #33
Thank you, Thomas.

I'll have to take a closer look at the plugin some time to understand why this happening. During a quick search for the issue, I discovered the [following issue #150](https://github.com/michitux/dokuwiki-plugin-move/issues/150) in the plugin move repository. Does the issue persist if you use the regular/desktop view?

[2020-04-02 20:20] tools400 commented on #33
Thank you for your fast reply. I still test and play with the Wiki and I did not yet give it a try on a mobile device. So the answer is: yes, it happens in the regular/desktop view.

![material_theme_problem_2](https://user-images.githubusercontent.com/3110562/78297510-03bfc180-7530-11ea-829b-b3634417e126.jpg)
![material_theme_problem_1](https://user-images.githubusercontent.com/3110562/78297514-0

[2020-04-05 13:49] jgmac1106 opened #34 "Problem loading external script"
Hello, I am trying to use this https://github.com/PlaidWeb/webmention.js/ seems to work in all the other dokuwiki themes I try but I can't seem to load the script at all

here is an example: https://longthoughts.jgregorymcverry.com/doku.php?id=namespace:test_post#enter_doku_wiki

I tried adding the javascript to the existing file and making a new file:, links from my head:
 <link rel="pingback" hr

[2020-04-08 20:55] #33 closed, assigned to LeonStaufer

[2020-04-08 20:56] LeonStaufer commented on #33
Good news, I have been able to fix the issue.

Could you please manually update the `main.php` file because I don't think I'm ready to release a new version entirely yet.

Let me know if it works :)

[2020-04-08 21:06] LeonStaufer commented on #34
Thank you. I've tried to reproduce your issue but I'm having some difficulties.

Which of the [suggested ways of loading JavaScript](https://www.dokuwiki.org/devel:javascript) are you using?

[2020-04-08 21:50] LeonStaufer commented on #31
Turns out, it wasn't the `useheading` property - which would have made sense - but instead, the `youarehere` property as you can see [here](https://github.com/LeonStaufer/material-dokuwiki/blob/master/main.php#L204).

So I think that if you use the pagetitle plugin, you can manage to at least display the correct title.

![Screenshot of title](https://user-images.githubusercontent.com/30228998/7883

[2020-04-09 05:13] tools400 commented on #33
Hi Leon,
Good work! That did the trick.
Thanks,
Thomas.

[2020-04-09 13:22] jgmac1106 commented on #34
I can close this, I was able to get it loading.

[2020-04-09 13:22] #34 closed, assigned to LeonStaufer

[2020-04-09 13:58] LeonStaufer commented on #34
Okay, thank you. How did you manage to load it?

[2020-04-10 14:52] #31 closed, assigned to nobody

[2020-04-10 15:01] #30 closed, assigned to LeonStaufer

[2020-04-11 23:00] SpencerDub commented on #31
This is great, @LeonStaufer, thank you!

[2020-04-14 13:52] thomaspz opened #35 "doesn't work with draw.io plugin"
The material-theme is very cool and a straight forward layout. I used it for a while.
Now, I installed the draw.io plugin, but it doesn't open the draw.io editor. When I change to another theme, the draw.io plugin works as expected.

[2020-04-21 10:54] LeonStaufer commented on #35
This is because the iframe created by the draw.io plugin does not specify a z-index. This results in it being below the layout elements of Material Design Lite. I have created a [new issue](https://github.com/lejmr/dokuwiki-plugin-drawio/issues/20) in the plugin repository.

In the meantime, you can fix the issue by adding the following custom CSS to your DokuWiki installation:
[code]

[2020-04-21 10:54] #35 closed, assigned to LeonStaufer

[2020-04-27 11:21] yusurko opened #36 "Template config options are without useful description"
The image below is self explanatory. Tested with both Italian and English locale.

![Schermata da 2020-04-27 13-19-12](https://user-images.githubusercontent.com/48103762/80366563-c2e66e80-8889-11ea-941a-05e1f627db91.png)

[2020-05-01 16:03] LeonStaufer commented on #36
Thank you for the suggestion.

In the meantime, you can take a look at the [configration section](https://github.com/LeonStaufer/material-dokuwiki#configuration) in the readme.

[2020-05-01 16:30] #36 closed, assigned to LeonStaufer

[2020-06-05 15:33] dylan00j opened #38 "Is it possible to change the position of TOC?"
love the design thanks
I wonder whether I can change the position and size of the TOC?
I'd prefer it smaller and up to Right, possibly even floating?
many thanks
Dylan

[2020-06-05 18:53] LeonStaufer commented on #38
Thanks. That's definitely possible but I probably won't provide that additional functionality for this template.

If you want to change the size of the TOC, you could add your own CSS rule to `<dokuwiki>/conf/userstyle.css`.
Changing the position is a little harder. I would suggest editing the `main.php` around line [217](https://github.com/LeonStaufer/material-dokuwiki/blob/master/main.php#L217)

[2020-06-05 18:53] #38 closed, assigned to nobody

[2020-06-05 21:55] dylan00j commented on #38
many thanks Leon
I will try to figure this out now based on that.
Bit new to this but hopefully I'll learn a little more!
thanks again
Dylan

On Fri, 5 Jun 2020 at 19:53, Leon Staufer <notifications@github.com> wrote:

[2020-06-05 22:02] LeonStaufer commented on #38
Glad to hear and let me know if you need any more help.

[2020-06-05 22:05] dylan00j commented on #38
Thanks so much.
I'll delve 1st and see if I can figure it out myself and get back to you if
I can't!
Fingers crossed
Dylan

On Fri, 5 Jun 2020, 23:02 Leon Staufer, <notifications@github.com> wrote:

[2020-06-10 09:43] SwayYe opened #39 "configure of style.ini not applied"
After uncommenting  the color preset in “replacements” section in style.ini,
I refreshed the page in the browser and failed to find the page theme changed.
[code]
Am I not doing this rightly?

[2020-06-10 11:01] LeonStaufer commented on #39
This is should work as long as you comment out the previous values as well.

The better solution would be to use the style configuration within the DokuWiki administration panel. That way, you can directly specify color values.

Another possible solution might be to flush the cache and force reloud the web page. Let me know if that works.

[2020-06-10 11:19] SwayYe commented on #39
I configured the style within the DokuWiki administration panel and that works!
It seems that the value in the administration panel will dominate any modification in stylle.ini.
Thanks a lot for your help!

[2020-06-10 11:19] #39 closed, assigned to nobody

[2020-06-12 06:33] SwayYe opened #40 "Cannot change page/sidebar width"
I tried to modify the value of `__site_width__` and `__sidebar_width__`.
However, neither modification through DokuWiki administration panel nor local style.ini works.
Is this a bug? Or can I change the layout by editing the .less directly? Sorry about the bothering, I am new to website design.

[2020-06-13 21:24] LeonStaufer commented on #40
Thanks, @SwayYe. As far as I know, `__site_width__` is a configuration property that is not standard to all templates. It is provided by default DokuWiki template though, as you can see [here](https://www.dokuwiki.org/template:dokuwiki#customizing).

In any case, it would be a helpful configuration option to add, so I have labelled this as an enhancement.

In the meantime, you can edit the `css/fi

[2020-06-14 05:16] SwayYe commented on #40
Thanks for your help!
I tried to add these two lines in `css/fixes.less` and set `YOUR_WIDTH=40em`, but it seems that the site width is not changed.

[2020-06-14 08:44] LeonStaufer commented on #40
Try flushing the cache and force reloading the page. Let me know if it still does not work

[2020-06-14 11:11] SwayYe commented on #40
I tried to recache the website, still not working.
BTW, I find out that the sidebar becomes folded by default, which is the only difference after I edited `css/fixes.less`.
![45ada8a423dab8368d38d3d22b73f2b](https://user-images.githubusercontent.com/31896670/84591611-74f5ec00-ae72-11ea-9d67-53f09cdab9cc.png)
![47c43e5cec631d62a5ad42dc2f7aaae](https://user-images.githubusercontent.com/31896670/8459

[2020-06-18 21:47] LeonStaufer commented on #40
My bad, this is a little more complicated because the drawer has two states, depending on the size of the screen. I've tested the following updated solution and it works locally. `400px` is a just a size I experimented, with but you can replace it with any width you like.

[code]

Unfortunately, `width: calc(100% - 240px) !important;` breaks the header, but I can't seem to figure out why :/

[2020-06-19 02:59] SwayYe commented on #40
I tried the latest code, but unfortunately still not working locally. :(
Anyway, the present layout is acceptable for me. The material template is really excellent. Thanks for all your efforts!

[2020-06-22 09:22] LeonStaufer commented on #40
Sorry to hear that and no problem. Enjoy the template :)

[2020-06-22 09:22] #40 closed, assigned to LeonStaufer

[2020-10-06 17:49] mkrtchian opened #41 "[feature] Missing links are not in a different color"
This functionality exists in the official dokuwiki template but is not in this one. I think it could be a good idea to include it.

When we change `__missing__ ` and `__existing__` values, they are not used, and the `a` tags are only assigned the color `color: #3986dd;`

[2020-10-07 10:24] mkrtchian opened #43 "[bug] The go to top button doesn't work"
There are two `dokuwiki__top` id in main.php: one [here](https://github.com/LeonStaufer/material-dokuwiki/blob/master/main.php#L39) and one on the logo [here](https://github.com/LeonStaufer/material-dokuwiki/blob/master/main.php#L104). And none of them work for the "go to top" button.

[2020-10-08 06:22] mkrtchian opened #45 "[feature] make pre tags look differently from other text"
Currently `pre` tags have no different background, border or something, and a long wiki text with some code inside looks a bit messy. With a visual difference it could look better I think.

[2020-10-10 12:37] mkrtchian opened #47 "Headings are big"
There are a few todos in the CSS. This issue is for [heading's size](https://github.com/LeonStaufer/material-dokuwiki/blob/master/css/basic.less#L301). Right now they are quite big.

[2020-10-10 19:59] mkrtchian opened #49 "Errors with the W3C validator : <button> inside <a> tags"
When I try the code of a wiki page in the [W3C HTML validator](https://validator.w3.org/), it shows some errors about buttons in `<a>` tags :

For buttons like [here](https://github.com/LeonStaufer/material-dokuwiki/blob/7a0572b3b12f971d352a5ab582b096e8810e5ee9/main.php#L61).

We can probably remove the `<button>` tags to let only the wrapping `<a>` tags but I guess they add some styling from mate

[2020-10-11 09:58] LeonStaufer commented on #49
Yes, this is an issue, mainly of semantic nature though, because it doesn't cause a problem in modern browsers.

I agree, that it would be better to only use `<a>` tags, but this would require porting a lot of styles from [MDL](https://getmdl.io/). To be honest, I'm not sure if that's worth it.

A better solution might be using something such as [`upgradeDom`](https://github.com/google/material-de

[2020-10-11 10:04] LeonStaufer commented on #47
Good point, I'd suggest following the [Material spec](https://material.io/design/typography/the-type-system.html#type-scale) and I could quickly add a commit for that.

[2020-10-11 15:42] mkrtchian opened #50 "[bug] small wiki pages occupy smaller height before occupying viewport height"
When a wiki page has not enough content, the main content starts as smaller than the normal height, and occupies the normal height after some time. That time is linked to the use of `defer` on material script [here](https://github.com/LeonStaufer/material-dokuwiki/blob/fec94ce85706a77ca877bf60109c754a9b5f2eaa/main.php#L34).

If we want to keep the `defer` we may add some CSS to force the main cont

[2020-10-12 16:11] LeonStaufer commented on #50
I agree that we defintely need to keep the `defer` and I think the solution you proprosed solves the issue sufficiently well.

[2020-10-12 16:12] #50 closed, assigned to nobody

[2020-10-24 13:13] mkrtchian opened #52 "Dokuwiki table rows' alignement doesn't work"
Dokuwiki has a feature to align rows horizontally with a syntax like this :
[code]
This adds a class `leftalign`, `centralign` or `rightalign` to the aligned `td` element to align it.
Currently it has no effect on material-dokuwiki.

[2020-11-04 20:58] #41 closed, assigned to nobody

[2020-11-04 21:04] #43 closed, assigned to nobody

[2020-11-04 21:44] #45 closed, assigned to nobody

[2020-11-04 21:47] #52 closed, assigned to nobody

[2021-06-23 04:31] RyanisLink opened #56 "logo.png not defaulting like it should"
For some reason the template defaults to logo.svg instead of logo.png and I am unable to use the media manager by default to change the logo as I would in the default template since logo.svg does not exist there. If this is not a bug, then can it be a feature request?

[2021-06-23 20:48] RyanisLink commented on #56
After doing a little more digging it appears that in the main.php file it shows logo.svg which is what is showing in the template, however, when trying to add another logo.svg to the media gallery I am told that .svg files are not supported. I do not have access to the root files (i am working on getting the host to help) but I think that changing logo.svg to logo.png in the main.php file may reso

[2021-06-25 09:15] LeonStaufer commented on #56
Hey, thanks for opening this issue. That does sound like a bug with how the logo is choosen.

Unfortunately I don't have the time right now to research and fix the issue. You are welcome to submit a pull request that I'll look over and merge.

[2021-06-25 09:27] LeonStaufer commented on #56
I believe simply adding `logo.png` to the following list might resolve the issue.

https://github.com/LeonStaufer/material-dokuwiki/blob/fbdf6b9fdaba5990b300a1b79f3660e0a98a07b7/main.php#L104

[2021-12-22 10:25] WikICAM commented on #33
@LeonStaufer I have got the "Action unknown: menuitem" how can i manually update the main.php ?

[2021-12-22 11:05] LeonStaufer commented on #33
In case it's the same problem, it should be sufficient if you replace the `main.php` file in your template folder with the most recent one here on GitHub.

[2021-12-22 18:40] WikICAM commented on #33
@LeonStaufer Sorry for my question but where can i find the most recent one on GitHub and where should I replace it ? In the main.php who is in the file /lib/tpl/bootstrap3 ?

[2021-12-26 12:22] LeonStaufer commented on #33
The most recent one is just the file in the master branch, so [this one](https://raw.githubusercontent.com/LeonStaufer/material-dokuwiki/master/main.php).

Then you should replace the `main.php` file in your material template folder, most likely at `lib/tpl/material`.

I hope this helps.

[2022-01-04 09:04] WikICAM commented on #33
@LeonStaufer To understand, I'm currently using the 'Boostrap3' template so I download the `main.php` and replace it in the lib/tpl/bootstrap3 folder ?
I did this but it doesn't works and the layout of my site is totally different

[2022-01-04 12:17] LeonStaufer commented on #33
This `main.php` file won't work with the bootstrap template. You'll need to replace it in the material template folder.

I'm unsure what you're trying to do, maybe you could open a new issue and please explain it there.

[2022-01-07 09:10] WikICAM commented on #33
@LeonStaufer I am new in Github how can i open a new issue

[2022-01-07 11:02] LeonStaufer commented on #33
Please take a look at the following [guide by GitHub](https://docs.github.com/en/issues/tracking-your-work-with-issues/quickstart).

[2022-10-10 09:18] TineUser opened #57 "Compatibility to PHP 8+ and newer DokuWiki versions"
Hi,

will there be a new version of this really nice template to be compatible to PHP 8+ and newer DokuWiki versions. I really like this template but after upgrading to PHP 8+ and a newer DokuWiki version I get warning messages on the sidebar:

[code]

It would be great if I can use this template with the new versions of PHP and DokuWiki. Yes, I can hide the warning messages but I thnink this isn'